.main-container {
  display: flex;
  margin-right: 2px;
}

.right-container {
  flex: 1;
  height: 1000px;
}

.left-container {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 380px;
  margin-right: 8px;
}