:root{
    --sgreen: #30d95e;
    --bggray: #4d4c4c;
}

p{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

div{
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: black;
    width: 100vw;
    margin: 10px;
    overflow-x: hidden;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 1000px;
}

body::-webkit-scrollbar {
    display: none;
}

.playlist-container::-webkit-scrollbar{
    display: none;
}